h1#header {
    display: block;
    padding: 30px;
}

body {
    margin: 0px;
    max-width: 600px;
    display: inline-block;
    text-align: left;
}

h1 {
    margin: 0px;
}

html {font-family: sans-serif;background-color: #ff5454;text-align: center;}

.bar {
    padding: 30px;
    min-height: 250px;
}

h1#title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}


#header img {
    width: 60px;
    vertical-align: -17px;
    margin-right: 15px;
}

.side {
    display: inline-block;
    width: 50%;
}

.bar img {
    width: 45%;
    vertical-align: middle;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
    margin: 5px;
}

.side h1 {
    font-weight: 300;
}

.bar p {
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    margin-top: 15px;
}

.bar p:first-child {
    margin-top: 30px;
}


#header span {
    float: right;
    font-size: 20px;
    font-weight: 400;
    margin-top: 23px;
}